<template id="post-template">
    <div class="post-card">
        <div class="post-header">
            <div class="post-avatar"></div>
            <div>
                <h6 class="mb-0 fw-bold"></h6>
                <small class="text-muted">Только что</small>
            </div>
            <h5 class="fw-bold"></h5>
            <p class="post-content"></p>
            <div class="post-footer mt-3">
                <button class="btn btn-sm btn-outline-secondary ms-2">комментировать</button>
            </div>
        </div>
    </div>
</template>